# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.infrastructure/db/sqlite/database.sqlite
database/
/common/infrastructure/db/drizzle/seeders/categories_with_products.json
/common/infrastructure/db/drizzle/seeders/category-tree.json
