NUXT_SESSION_PASSWORD=supersecretpasswordthatshouldbeatleast32characters
NUXT_OAUTH_GITHUB_CLIENT_ID=yourgithubclientid
NUXT_OAUTH_GITHUB_CLIENT_SECRET=yourgithubclientsecret
NUXT_OAUTH_GITHUB_REDIRECT_URI=yourredirecturi
SQLITE_PATH=./database.sqlite
ALGOLIA_APP_ID=youralgoliaappid
ALGOLIA_SEARCH_API_KEY=youralgoliasearchapikey
ALGOLIA_WRITE_API_KEY=youralgoliawriteapikey
